h2 {
  font-size: 26px;
  text-align: start;
  margin-top: 12px;
 text-indent: 70px;
}

p {
  font-size: 20px;
  margin-top: 24px;
  text-align: justify;
  padding: 24px;
  text-indent: 30px;
}

.ponto-turistico {
  background-color: white;
  box-shadow: 2px 2px 0px rgb(97, 95, 95);
  border-radius: 5px;
  width: 150%;
  height: 100%x;
  margin-bottom: 24px;
  border: 1px solid black;
}

ul {
  list-style: none;
}

.pontos-lista img {
  width: 300px;
  height: 265px;
  object-fit: cover;
  border-radius: 5px;

}

.localizacao {
  max-width: 28px;
  max-height: 28px;
}

.localizacao div {
  position: absolute;
}

main ul li {
  display: flex;
}

main ul li:nth-child(even) {
  flex-direction: row-reverse;
}

@media  screen and (max-width:650px) {
  .ponto-turistico{
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;

  }
  .ponto-turistico img{
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
    
  }
  .descricao h2{
text-indent: 0px;
    text-align: center;


  }
 
  
  
}